/* CSS reset */
body, header, nav, main, footer, img {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
body {
    background-color: #800000;
    width: 100%;
}

header {
    background-color: #FFDF00;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 20px;
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: #05014a;
}

.header-image {
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
}  

nav {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    border-width: 5px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-center: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
}

main {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    box-shadow: #05014a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: olive;
}

footer {
    font-size: smaller;
    text-align: center;
    margin-top: 20px;
}

